{% block SlideComponent %}
<div class="PropertiesSellComponent">
  <div class="container">
      <div class="row">
          {{TitleComponent(title, subtitle)}}
      </div>
      <div class="row flexbetween ">
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
      </div>
</div>  


</div>

{% endblock %}