{% block SlideComponent %}
 <main>
<div class="PropertiesSellComponent" id="PropertiesSellComponent">
  <div class="container">
      <div class="row">
          {{TitleComponent(title, subtitle)}}
      </div>
      <div class="row flexbetween">
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
        {{CardComponent()}}
      </div>
      <div class="row">
        <a href="" class="btnPrincipal">VER MAIS IMOVEIS</a>
      </div>
</div>  


</div>

{% endblock %}